/* .unsolved {
  background: linear-gradient(#ffffff, #c7dace);
} */

.unsolved{
  background-color: #F5F7F8;
}
/* .solved{
  background-image: linear-gradient(to right top, #4bd25c, #63d950, #7adf41, #91e62f, #a8eb12);
} */


.solved {
  background: linear-gradient(#ffffff, #25fa04ce);
}

/* .hard{
    background: linear-gradient(#f90303 , #cb7b7b);
    color:white;
} */
.hard{
  background-color: rgba(255, 0, 0, 0.071);
  color: red;
  border: 1.5px solid red;
}
.total{
    background: linear-gradient(#ffffff , #c7dace)
}

.medium{
    /* background: linear-gradient(#ffffff , #d7e148);
    color:black; */
    background-color: rgba(255, 166, 0, 0.078);
    color: orange;
    border: 1.5px solid orange;
  
  }
.easy{
    /* background: linear-gradient(#269325 , #06fb02);
    color:white; */
    background-color: rgba(0, 128, 0, 0.082);
    color: green;
    border: 1.5px solid green;
}

